* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

h2 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    margin-bottom: 5px;
}

.services .card .date {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    border-bottom: none;
    padding-bottom: 0px;
    position: absolute;
    top: 0;
    background: #dc4f72;
    padding: 15px;
    margin-bottom: 0;
    right: 0;
    margin-top: 0;
}

.services .card .red {
    background: rgba(238, 97, 120, 0.2);
    color: #dc4f72;
    font-size: 13px;
    text-align: left;
    font-weight: 600;
    padding: 5px 10px;
}

.services .card .green {
    background: rgba(0, 128, 0, 0.2);
    color: #008000;
    font-size: 13px;
    text-align: left;
    font-weight: 600;
    padding: 5px 10px;
}

.services .card .blue {
    background: rgba(0, 0, 255, 0.2);
    color: #0000ff;
    font-size: 13px;
    text-align: left;
    font-weight: 600;
    padding: 5px 10px;
}

.services-info img {
    filter: grayscale(100%);
    transition: 0.3s ease-in-out;
}

.services-info:hover img {
    filter: grayscale(0);
    transition: 0.3s ease-in-out;
}

.card {
    transform: translateY(0);
    transition: 0.3s ease-in;

}

.services-info:hover .card {
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.3s ease-in;
}

.services .card-body a {
    color: #2c3038;
}

.services-info:hover a {
    color: #dc4f72;
}

.services .card-footer a {
    color: #dc4f72;
    cursor: pointer;
}

.services-info i {
    font-size: 10px;
    transform: translateX(0);
    transition: all 0.5s;
}

.services-info :hover i {
    transform: translateX(5px);
    transition: all 0.5s;
}

/* -----------end Serivces-------- */
.questions {
    background-color: #f7f9fc;
}

.questions-tittle h1 {
    color: #2c3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 500;
}

.questions-left {
    position: sticky;
}

.accordion-item {
    margin-bottom: 15px;
    padding: 10px;
    text-align: left;
}

.accordion-item h3 {
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    margin: 0;
    cursor: pointer;
}


.questions .col img {
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
}

.questions .col img:hover {
    transform: translateY(-15px);
    transition: all 0.5s ease-in-out;
}

/* -------------end Questions--------------- */

.nav-item a {
    color: #dc4f72;
    font-size: 25px;
    font-weight: bold;
}

.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}

.btn-outline-primary {
    color: #dc4f72;
    border-color: #dc4f72;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.project img {
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
}

.project img:hover {
    transform: translateY(-15px);
    transition: all 0.5s ease-in-out;
    background-color: gra;
}



/* ----------end Project---------- */

.testimonials {
    background-size: cover;
    background-image: linear-gradient(to right, rgba(247, 249, 252, 0.77), rgba(247, 249, 252, 0.77)), url(../images/b2.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.owl-nav {
    display: none;
}

.testimonials .item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border: 3px solid #dc4f72;
}

.testimonials .item i {
    color: #d5d6d7;
    font-size: 30px;
}

.testimonials h4 {
    font-size: 18px;
    color: #dc4f72;
}

.testimonials .name {
    color: #dc4f72;
    font-size: 13px;
}

.owl-dots {
    margin-top: 25px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 50px;
    height: 5px;
    margin: 0px 7px;
    background: #D6D6D6;
    display: block;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.btn-primary {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.btn-primary:hover {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952
}

/* --------end testimonials  */

.footer {
    background-color: #f7f9fc;
}

.footer h3 {
    font-size: 20px;
    text-align: left;
    line-height: 3;
}

.footer li {
    list-style: none;
    line-height: 2;
}

.footer a {
    text-decoration: none;
    color: #656f7b;
    text-align: left;
}

.footer a:hover {
    color: #dc4f72;
    opacity: 1;
}

.footer h4 {
    font-size: 18px;
    color: #5a5a5a;
}

.footer p {
    color: #dc4f72;
}

.social a {
    color: #2c3038;
}

.backToTop {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}